<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="taskList" type="POP.TaskListSection, POP" />
  </configSections>
  <connectionStrings>
    <add name="MyDB" connectionString="Server=whyfi8888.ddns.net,11433;Uid=team5;Pwd=team5;DataBase=team5" />
    
  </connectionStrings>
  <appSettings>
    <add key="timer_Connect" value="1000" />
    <add key="timer_KeepAlive" value="500000" />
    <add key="timer_R_PLC" value="300" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="MachineEXE" value="..\..\..\Machine\bin\Debug\Machine.exe" />
  </appSettings>
  <taskList>
    <taskItem taskID="F_ASSY" hostIP="127.0.0.1" hostPort="8100" remark="최종조립1반" />
    <taskItem taskID="H_ASSY_01" hostIP="127.0.0.1" hostPort="8200" remark="Leg_조립반" />
    <taskItem taskID="MF01" hostIP="127.0.0.1" hostPort="8300" remark="3D 벤딩 SEAT_가공" />
    <taskItem taskID="MF02" hostIP="127.0.0.1" hostPort="8400" remark="드링링 LEGS_홀 가공" />
    <taskItem taskID="OS" hostIP="127.0.0.1" hostPort="8500" remark="AW 외주 작업장" />
  </taskList>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>