<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="TEAM5_Connection" connectionString="XpoProvider=MSSqlServer;data source=whyfi8888.ddns.net,11433;user id=;password=;initial catalog=TEAM5;Persist Security Info=true" />
  </connectionStrings>
  <appSettings>
    <add key="APIUrl" value="https://localhost:44384/api/" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>

